{% load static %}


<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/shared.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth/auth.css' %}">


</head>
<body>
<!-- Django Messages -->
{% if messages %}
<div class="django-messages" style="display:none">
    {% for message in messages %}
    <span class="toast-data" data-level="{% if message.tags %}{{ message.tags }}{% else %}info{% endif %}">{{ message }}</span>
    {% endfor %}
</div>
{% endif %}

{% block content %} {% endblock %}

<script src="{% static 'js/shared.js' %}?v=3"></script>
{% block js %}{% endblock %}
</body>
</html>